%full-screen {
	padding: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

[y-page="pageGame"] {
	@extend %full-screen;

	> canvas {
		@extend %full-screen;
	}

	> .scene {
		@extend %full-screen;
		z-index: -1;

		> .btn-close {
			position: fixed;
			bottom: auto;
			left: auto;
			right: 0;
			top: 0;
			$square: 50px;
			width: $square;
			height: $square;
			line-height: $square;
			text-align: center;
			vertical-align: middle;
			color: white;
			cursor: pointer;
		}

		&:not([hidden]) {
			z-index: 1;

			~ .menu {
				display: none;
			}
		}
	}

	> .game {
		@extend %full-screen;
		font-size: 40pt;

		* {
			font-size: inherit;
		}
	}

	.menu {
		display: flex;
	}

	#zoom {
		position: fixed;
		z-index: 1;
		bottom: auto;
		right: 0;
		left: auto;
		top: max(10%, 50px);
		flex-flow: column nowrap;

		> button {
			cursor: pointer;
			min-height: 25px;
			min-width: 25px;
			font-size: 20px;
			line-height: 1em;
			text-align: center;
			background: lightgrey;
			color: black;
			border: 2px outset darkgrey;
			border-radius: 5px;

			&:disabled {
				filter: opacity(0.5);
				cursor: default;
				border: 2px solid transparent;
			}
		}
	}

	div#action-menus {
		position: fixed;
		z-index: 1;
		bottom: 0;
		right: 0;
		left: 0;
		flex-flow: row nowrap;

		> div {
			flex-basis: 50vw;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			padding: 15px 5px;
			background: green;
		}

		button {
			padding: 2px 5px;
			text-align: left;
			font-family: "Trebuchet MS", "Open Sans", "Helvetica Neue", sans-serif;
			font-size: 20px;
			background: white;

			> kbd {
				font-size: 20pt;

				&::before {
					content: "(";
				}

				&::after {
					content: ")";
				}
			}

			&:not(:disabled) {
				cursor: pointer;
			}

			&:has(> img) {
				--circle: 40px;
				height: var(--circle);
				width: var(--circle);
				padding: 0;
				border-radius: var(--circle);
				text-align: center;
				align-self: center;
				position: relative;

				> img {
					width: 70.71%; // cos 45°
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}

	#tile-view {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-around;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 10;

		&[hidden] {
			display: none;
		}

		&:not([hidden]) ~ canvas {
			z-index: -1;
		}

		@media (orientation: portrait) {
			flex-flow: column;
		}

		> * {
			display: flex;
			flex-flow: column;
			align-items: center;

			.name {
				background: black;
				color: white;
				padding: 2px 5px;
				border-radius: 0.5em;
			}
		}
	}

	#city-view {
	}

	#production-queue {
		position: fixed;
		left: 0;
		top: 50%;
		bottom: 0;
		width: 200px;
		background: white;
		display: flex;
		flex-flow: column nowrap;

		ul {
			overflow: auto;
		}

		> h2 {
			font-size: 1.4rem;
			margin-bottom: 1rem;
			text-align: center;
		}
	}
}
